<div class="container" *ngIf="pronto">
  <div class="row">
    <div class="col-12 mb-1">
      <h3>Olá {{ parametro.nome_gerente.split(" ")[0] }}</h3>
      <p>Por padrão o seu assistente está {{ parametro.modo_assistente }}</p>
    </div>
    <div class="col-4 scroll chats pt-2">
      <input
        class="form-control mb-2"
        id="send-msg"
        placeholder="Digite aqui..."
        type="text"
        (input)="filter($event)"
      />
      <ng-container *ngFor="let chat of chats">
        <div class="mb-2" (click)="chatSelecionado = chat">
          <app-card [chat]="chat"></app-card>
        </div>
      </ng-container>
    </div>
    <div class="col-8 chat">
      <app-chat [chat]="chatSelecionado"></app-chat>
    </div>
  </div>
</div>
